{% assign preTitle = include.preTitle | default: include.content.preTitle %} {%
assign title = include.title | default: include.content.title | default:"" |
append: "" %} {% assign description = include.description | default:
include.content.description %} {% assign imageLicense = include.imageLicense |
default: include.content.imageLicense %} {% assign cta = include.cta | default:
include.content.cta %} {% assign center = include.center | default:
include.content.center %} {% assign categories = include.categories | default:
include.content.categories %} {% assign href = include.href | default:
include.content.href | default: false %} {% assign blankTarget =
include.blankTarget | default: include.content.blankTarget | default: false %}

<div
  class="feature-content {% if center %} feature-content--centered {% endif %}"
>
  <div class="feature-text">
    <h3 class="feature-title">
      <div>
        <div><span>G</span>lobal</div>
        <div><span>R</span>egistry</div>
        <div id="headline-offset-wrapper">
          <span id="headline-offset">of </span><span>Sci</span>entific
        </div>
        <div><span>Coll</span>ections</div>
      </div>
    </h3>
  </div>

  <div class="feature-description">
    <p class="tagLine">
      {{ page.tagline | default: "A worldwide catalogue of scientific collections" | strip_html }}
    </p>

    <div class="searchWrapper">
      <!-- Tab links -->
      <div class="tab">
        <button
          class="tablinks active"
          onclick="openTab(event, 'searchTab_name')"
        >
        {{ page.tabInstitutions | default: "Institution name" | strip_html }}
        </button>
        <a href="./specimen/search"
          ><button
            class="tablinks"
            onclick="openTab(event, 'searchTab_catalogNumber')"
          >
          {{ page.tabSpecimens | default: "Institution name" | strip_html }}
            <svg
              style="position: relative; top: 2px"
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"
              ></path>
            </svg></button
        ></a>
      </div>

      <!-- Tab content -->
      <div id="searchTab_name" class="tabcontent" style="display: block">
        <form action="./institution/search" method="GET">
          <input
            name="q"
            class="input"
            type="text"
            placeholder="{{ page.placeholderInstitutions | default: "Search institutions" | strip_html }}"
            style="width: 100%"
          />
          <button type="submit" class="button is-ghost">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5 6.5 6.5 0 109.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
              ></path>
            </svg>
          </button>
        </form>
      </div>

      <div id="searchTab_catalogNumber" class="tabcontent">
        <form action="/specimen/search" method="GET">
          <input
            id="home_specimen_input"
            name="q"
            class="input"
            type="text"
            placeholder="{{ page.placeholderSpecimens | default: "Search for digitized specimens" | strip_html }}"
            style="width: 100%"
          />
          <button type="submit" class="button is-ghost">
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path
                d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5 6.5 6.5 0 109.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
              ></path>
            </svg>
          </button>
        </form>
      </div>
    </div>
    <script>
      window.setTimeout(function () {
        let a = document.getElementById("headline-offset");
        a.parentElement.style.marginLeft = "-" + a.offsetWidth + "px";
        // a.parentElement.parentElement.style.paddingLeft = a.offsetWidth + 'px';
      }, 300);

      function openTab(evt, tabName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
      }
    </script>

    <div class="gettingStarted">
      <a href="/#video-intro" class="gettingStarted-video">
        <span class="icon">
          <i class="fa fa-play"></i>
        </span>
        {{ page.gettingStartedVideoTitle | default: "Getting started" | strip_html }}
      </a>

      <a
        href="./institution/search?country={USER_COUNTRY}"
        id="users-country-conditional"
        class="hidden"
      >
        <span class="icon">
          <i class="fa fa-crosshairs"></i>
        </span>
        {{ page.institutionsInCountryTemplate | markdownify }}
      </a>
    </div>
  </div>
</div>
