@import "theme/_main";
$gold: #F5EDCC;
$darkGold: #a6906c;
$blue: #62a8ac;
$homepageActiveTabColor: $blue;
@import "_navbar";
@import "_home";
@import "_stats";


// BoxHero layout overwrites
.boxHero {
  .feature-img-license {
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
  }
  .feature-text,
  .feature-description {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .feature-title {
    margin-top: 24px !important;
    font-size: 2.5rem;
  }

  .feature-content {
    border-radius: 12px 12px 0 0;
    text-align: left;
    padding-left: 48px
  }
}

body>nav.navbar {
  background: rgb(37, 50, 57);
  background-color: radial-gradient(circle at 100%, rgba(37, 50, 57, 1) 0%, rgba(64, 83, 87, 1) 50%, rgba(37, 50, 57, 1) 100%);
}

.navbar-brand .navbar-logo {
  padding-right: 24px;
}

html {
  font-size: 15px;
}

// You can add additional styling here


.home.floatingHero {
  padding: 0 24px;

  .feature-content {
    margin-left: 100px;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    width: $navbar-breakpoint;
    max-width: 100%;
    padding-left: 70px;
  }

  .feature-description {
    margin: initial;
    padding: 0;
    width: 500px;
    color: $gold;
    p {
      font-weight: 500
    }
    .tagLine {
      font-family: 'Bitter', serif;
    }
  }

  .feature-title {
    width: 500px;
    max-width: 100%;
    font-size: 3rem;
    color: $gold;
    font-weight: 300;
    font-family: 'Bitter', serif;
    line-height: 1.2em;

    span {
      font-weight: 800;
    }
    #headline-offset {
      font-weight: 300;
    }

    #headline-offset-wrapper {
      margin-left: -55px;
    }
  }

  .gettingStarted {
    margin-top: 1em;
    font-size: 14px; 
  }
}

 .statistics {
  background: #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem; }


@media (max-width: 800px) {
  .home.floatingHero {
    .feature-title {
      font-size: 3rem;
    }
  }
}

@media (max-width: 600px) {
  .home.floatingHero {
    .feature-title {
      font-size: 2rem;
    }
  }

  .boxHero {
    min-height: calc(100vh - var(--navbar-height)) !important;
  }
}


.boxHero .feature-content {
  width: 70rem;
  max-width: 100%;
}

.navbar--hasWhiteText .navbar-start>.navbar-item:focus {
  background: none;
}

.pretitle-pagenotfound {
  font-size: 1rem;
  color: $gold;
  font-weight: 600;
  padding-top: 80px;
  padding-bottom: 10px;
}

.title-pagenotfound {
  font-size: 3rem;
  color: $gold;
  padding-top: 30px;
  padding-bottom: 10px;
}

.pagenotfound {
  font-size: 1rem;
  color: $gold;
  
  padding-bottom: 30px;
}
