@import "theme/_main";
$gold: #F5EDCC;
$darkGold: #a6906c;
$blue: #538e91;
$lightpurple: #6E84BB;
$homepageActiveTabColor: $lightpurple;
$headerColor: #333;
$tabColor: #ddd;
@import "_navbar";
@import "_home";
@import "_stats";

// BoxHero layout overwrites
.boxHero {
  .feature-img-license {
    top: 0;
    bottom: auto;
    right: 0;
    left: auto;
  }
  .feature-text,
  .feature-description {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .feature-title {
    margin-top: 24px !important;
    font-size: 2.5rem;
  }

  .feature-content {
    border-radius: 12px 12px 0 0;
    text-align: left;
    padding-left: 48px
  }
}

body>nav.navbar {
  background: rgb(37, 50, 57);
  background-color: radial-gradient(circle at 100%, rgba(37, 50, 57, 1) 0%, rgba(64, 83, 87, 1) 50%, rgba(37, 50, 57, 1) 100%);
}

.navbar-brand .navbar-logo {
  padding-right: 24px;
}

html {
  font-size: 15px;
}

// You can add additional styling here

.video-block {
  max-width: 1200px;
}

.home.floatingHero {
  padding: 0 24px;

  .feature-content {
    margin-left: 100px;
    text-align: start;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  .feature-description {
    margin: initial;
    margin-left: 20px;
    padding: 0;
    width: 500px;
    color: $headerColor;
    p {
      font-weight: 500
    }
    .tagLine {
      font-family: 'Bitter', serif;
    }
  }

  .feature-title {
    width: 500px;
    max-width: 100%;
    font-size: 3rem;
    color: $headerColor;
    font-weight: 300;
    font-family: 'Bitter', serif;
    line-height: 1.2em;

    span {
      font-weight: 800;
    }
    #headline-offset {
      font-weight: 300;
    }

    #headline-offset-wrapper {
      margin-left: -51px;
    }
  }

  .gettingStarted {
    margin-top: 1em;
    font-size: 14px; 
    a {
      text-decoration: none;
    }
  }
  .gettingStarted-video {
    margin-right: 24px;
  }
}

 .statistics {
  background: #ffffff;
  padding-top: 3rem;
  padding-bottom: 3rem; }


@media (max-width: 800px) {
  .home.floatingHero {
    .feature-title {
      font-size: 3rem;
    }
  }
}

@media (max-width: 600px) {
  .home.floatingHero {
    .feature-title {
      font-size: 2rem;
    }
  }

  .boxHero {
    min-height: calc(100vh - var(--navbar-height)) !important;
  }
}


.boxHero .feature-content {
  width: 70rem;
  max-width: 100%;
}

.navbar--hasWhiteText .navbar-start>.navbar-item:focus {
  background: none;
}

.pretitle-pagenotfound {
  font-size: 1rem;
  color: $gold;
  font-weight: 600;
  padding-top: 80px;
  padding-bottom: 10px;
}

.title-pagenotfound {
  font-size: 3rem;
  color: $gold;
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: 'Bitter', serif;
  font-weight: 500;
}

.pagenotfound {
  font-size: 1rem;
  color: $gold;
  padding-bottom: 30px;
}

.toc {
  a {
    border-left: 3px solid transparent;
    border-radius: 0!important;
    &.active {
      border-left: 3px solid #f08177; } } }
      
.video-block {
  padding: 3em;
}

@media (max-width: 600px) {
  .video-block {
    padding: 0;
  }
}

.features {
  background: #F1F3F8;
}     

.navbar-item img {
max-height: 4em;
} 

@media (max-width: 600px) {
  .home.floatingHero .feature-description, .home.boxHero .feature-description, .home.textBanner .feature-description {
    margin-left: 0;
    margin-right: 0;
  }
}
